<!-- Cards -->
<div class="row">
  <div class="col-lg-4" *ngFor="let card of cards">
    <mat-card class="overflow-hidden">
      <div>
        <img src="{{ card.image }}" class="w-100" alt="">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium">
            Super awesome, Angular 17 is coming soon!
          </p>
          <p class="op-7">
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <button mat-flat-button color="{{card.btn}}" class="fw-normal mt-4">Learn More</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
