html .orange_theme {
  --mat-sys-primary: rgb(251, 151, 120);
  --mat-sys-primary-fixed-dim: rgb(251, 151, 120, 0.15);
  --mat-sys-secondary: rgb(3, 201, 215);
  --mat-sys-secondary-fixed-dim: rgb(3, 201, 215, 0.15);
  --mat-sys-error-fixed-dim: rgba(252, 75, 108, 0.15);
} 