<mat-card class="cardWithShadow overflow-hidden">
    <mat-card-content class="p-32 p-b-18">
        <mat-card-title class="m-b-0">Sales Overview</mat-card-title>
        <div class="d-flex flex-column m-t-30">
            <apx-chart [series]="SalesChartOption.series" [dataLabels]="SalesChartOption.dataLabels"
                [chart]="SalesChartOption.chart" [legend]="SalesChartOption.legend" [xaxis]="SalesChartOption.xaxis"
                [yaxis]="SalesChartOption.yaxis" [grid]="SalesChartOption.grid" [stroke]="SalesChartOption.stroke"
                [tooltip]="SalesChartOption.tooltip" [plotOptions]="SalesChartOption.plotOptions"></apx-chart>
        </div>
    </mat-card-content>

</mat-card>